<div class="container marketing" ng-controller='demoReport'>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading pagination-centered ng-binding"><span>It looks like you don't have any Last.fm Activity</span><br>
      </h2><h3 class="featurette-heading pagination-centered"><span class="muted">Here's a demo version of Last-Gram-Dash!</span> </h3>

  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading pagination-centered ng-binding"><span class="muted">Hi</span> Demo <br>
      </h2><h3 class="featurette-heading pagination-centered"><span class="muted">Welcome to Your 3 Month Music Checkpoint</span> </h3>

  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading ng-binding"><span class="muted">Total Number of Streams</span> 1517</h2>
    <br>
    <h2 class="featurette-heading pull-right ng-binding"><span class="muted">Total Minutes Streaming</span> 6580</h2>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading ng-binding"><span class="muted">Total Number of Streams</span> 1512</h2>
    <br>
    <h2 class="featurette-heading pull-right ng-binding"><span class="muted">Total Minutes Streaming</span> 6561</h2>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading ng-binding"><span class="muted">Top Artist<br><br></span> Taylor Swift</h2>
      <img class="featurette-image pull-right" src="/public/client/templates/Taylor+Swift+ASOS+Magazine.png">
    <h4 class="featurette-heading ng-binding"><br>211 Streams</h4>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading"><span class="muted">Top Artists<br><br></span></h2>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Artist</th>
            <th>Streams</th>
            <th>Instagram Posts</th>
            <th>Likes (per)</th>
            <th>Comments (per)</th>
            <th>Popularity</th>
            <th>Ranking +/-</th>
          </tr>
        </thead>
        <tbody>
          <!-- ngRepeat: x in Artist --><tr class="ng-scope">
            <td class="ng-binding">1</td>
            <td class="ng-binding">Taylor Swift</td>
            <td class="ng-binding">211</td>
            <td class="ng-binding">68</td>
            <td class="ng-binding">1212085</td>
            <td class="ng-binding">24072</td>
            <td class="ng-binding">1</td>
            <td class="ng-binding">0</td>
          </tr><!-- end ngRepeat: x in Artist --><tr class="ng-scope">
            <td class="ng-binding">2</td>
            <td class="ng-binding">Porter Robinson</td>
            <td class="ng-binding">93</td>
            <td class="ng-binding">10</td>
            <td class="ng-binding">9949</td>
            <td class="ng-binding">371</td>
            <td class="ng-binding">2</td>
            <td class="ng-binding">0</td>
          </tr><!-- end ngRepeat: x in Artist --><tr class="ng-scope">
            <td class="ng-binding">3</td>
            <td class="ng-binding">Madeon</td>
            <td class="ng-binding">77</td>
            <td class="ng-binding">11</td>
            <td class="ng-binding">2135</td>
            <td class="ng-binding">133</td>
            <td class="ng-binding">4</td>
            <td class="ng-binding">1</td>
          </tr><!-- end ngRepeat: x in Artist --><tr class="ng-scope">
            <td class="ng-binding">4</td>
            <td class="ng-binding">Mako</td>
            <td class="ng-binding">68</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">9</td>
            <td class="ng-binding">5</td>
          </tr><!-- end ngRepeat: x in Artist --><tr class="ng-scope">
            <td class="ng-binding">5</td>
            <td class="ng-binding">周杰倫</td>
            <td class="ng-binding">68</td>
            <td class="ng-binding">106</td>
            <td class="ng-binding">59</td>
            <td class="ng-binding">7</td>
            <td class="ng-binding">7</td>
            <td class="ng-binding">2</td>
          </tr><!-- end ngRepeat: x in Artist --><tr class="ng-scope">
            <td class="ng-binding">6</td>
            <td class="ng-binding">Manufactured Superstars</td>
            <td class="ng-binding">49</td>
            <td class="ng-binding">31</td>
            <td class="ng-binding">187</td>
            <td class="ng-binding">8</td>
            <td class="ng-binding">6</td>
            <td class="ng-binding">0</td>
          </tr><!-- end ngRepeat: x in Artist --><tr class="ng-scope">
            <td class="ng-binding">7</td>
            <td class="ng-binding">East &amp; Young</td>
            <td class="ng-binding">38</td>
            <td class="ng-binding">37</td>
            <td class="ng-binding">18</td>
            <td class="ng-binding">1</td>
            <td class="ng-binding">8</td>
            <td class="ng-binding">1</td>
          </tr><!-- end ngRepeat: x in Artist --><tr class="ng-scope">
            <td class="ng-binding">8</td>
            <td class="ng-binding">Snow Patrol</td>
            <td class="ng-binding">33</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">9</td>
            <td class="ng-binding">1</td>
          </tr><!-- end ngRepeat: x in Artist --><tr class="ng-scope">
            <td class="ng-binding">9</td>
            <td class="ng-binding">Kaskade</td>
            <td class="ng-binding">32</td>
            <td class="ng-binding">111</td>
            <td class="ng-binding">7813</td>
            <td class="ng-binding">183</td>
            <td class="ng-binding">3</td>
            <td class="ng-binding">-6</td>
          </tr><!-- end ngRepeat: x in Artist --><tr class="ng-scope">
            <td class="ng-binding">10</td>
            <td class="ng-binding">Tritonal</td>
            <td class="ng-binding">26</td>
            <td class="ng-binding">44</td>
            <td class="ng-binding">893</td>
            <td class="ng-binding">30</td>
            <td class="ng-binding">5</td>
            <td class="ng-binding">-5</td>
          </tr><!-- end ngRepeat: x in Artist -->
        </tbody>
      </table>
  </div>

  <hr class="featurette-divider">

    <div class="featurette">
    <h2 class="featurette-heading ng-binding"><span class="muted">Top Song<br><br></span> Divinity - filous Remix</h2>
      <img class="featurette-image pull-right" src="">
    <h3 class="featurette-heading"><span class="muted ng-binding">Porter Robinson</span></h3>
    <h4 class="featurette-heading ng-binding"><br>82 Streams</h4>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading"><span class="muted">Top Songs<br><br></span></h2>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Streams</th>
          </tr>
        </thead>
        <tbody>
        <!-- ngRepeat: x in Song --><tr class="ng-scope">
          <td class="ng-binding">1</td>
          <td class="ng-binding">Porter Robinson</td>
          <td class="ng-binding">Divinity - filous Remix</td>
          <td class="ng-binding">82</td>
        </tr><!-- end ngRepeat: x in Song --><tr class="ng-scope">
          <td class="ng-binding">2</td>
          <td class="ng-binding">Mako</td>
          <td class="ng-binding">I Won't Let You Walk Away - Radio Edit</td>
          <td class="ng-binding">50</td>
        </tr><!-- end ngRepeat: x in Song --><tr class="ng-scope">
          <td class="ng-binding">3</td>
          <td class="ng-binding">Manufactured Superstars</td>
          <td class="ng-binding">Magnetic</td>
          <td class="ng-binding">49</td>
        </tr><!-- end ngRepeat: x in Song --><tr class="ng-scope">
          <td class="ng-binding">4</td>
          <td class="ng-binding">Madeon</td>
          <td class="ng-binding">You're On</td>
          <td class="ng-binding">40</td>
        </tr><!-- end ngRepeat: x in Song --><tr class="ng-scope">
          <td class="ng-binding">5</td>
          <td class="ng-binding">East &amp; Young</td>
          <td class="ng-binding">Starting Again - Radio Edit</td>
          <td class="ng-binding">38</td>
        </tr><!-- end ngRepeat: x in Song --><tr class="ng-scope">
          <td class="ng-binding">6</td>
          <td class="ng-binding">Madeon</td>
          <td class="ng-binding">Pay No Mind</td>
          <td class="ng-binding">23</td>
        </tr><!-- end ngRepeat: x in Song --><tr class="ng-scope">
          <td class="ng-binding">7</td>
          <td class="ng-binding">Taylor Swift</td>
          <td class="ng-binding">Blank Space</td>
          <td class="ng-binding">21</td>
        </tr><!-- end ngRepeat: x in Song --><tr class="ng-scope">
          <td class="ng-binding">8</td>
          <td class="ng-binding">Kap Slap</td>
          <td class="ng-binding">Let It All Out</td>
          <td class="ng-binding">18</td>
        </tr><!-- end ngRepeat: x in Song --><tr class="ng-scope">
          <td class="ng-binding">9</td>
          <td class="ng-binding">王力宏</td>
          <td class="ng-binding">春雨裡洗過的太陽</td>
          <td class="ng-binding">17</td>
        </tr><!-- end ngRepeat: x in Song --><tr class="ng-scope">
          <td class="ng-binding">10</td>
          <td class="ng-binding">David Guetta</td>
          <td class="ng-binding">Every Chance We Get We Run (feat. Tegan &amp; Sara)</td>
          <td class="ng-binding">16</td>
        </tr><!-- end ngRepeat: x in Song -->
        </tbody>
      </table>
  </div>

  <hr class="featurette-divider">

</div>
